section#about {
    padding-bottom: 0;
    text-align: center;
    .about-img-holder {
        overflow: hidden;
        img {
            width: clamp(300px,90%,990px);
            margin-bottom: -7%;
            margin-top: 5%;
        }
    }

    section.statistics {
        @include bg-image("../images/stats.png");
        position: relative;
        .stats-Wrapper {
            background-color: $main-color-trans2;
            .stat-card {
                position: relative; // To avoid the .Overlay covering
                padding: $md;
                color: whitesmoke;
                text-align: center;
                .icon i {
                    font-size: 18px;
                    background-color: black;
                    padding: 10px;
                    border-radius: 50%;
                }
                h2 {
                    font-size: 50px;
                }
            }
        }
        
    }
    section.testimos-and-skills {
        aside.testimonials-wrapper {
            margin-bottom: $xl;
        }
        header {
            h2 {
                font-size: 20px;
            }
            p {
                font-size: 16px;
            }
        }
        .testimonials-slider {
            overflow: hidden;
            .testimo-slide {
                display: flex;
                width: 400%;
                opacity: 0;

                &.transit {
                    transition: all 300ms ease-out;
                }
                &.position0 {
                    transform: translateX(0);
                    opacity: 1;
                }
                &.position1 {
                    opacity: 1;
                    transform: translateX(-25%);
                }
                &.position2 {
                    opacity: 1;
                    transform: translateX(-50%);
                }
                &.position3 {
                    opacity: 1;
                    transform: translateX(-75%);
                }
            }
            & .testimo-part {
                width: 100%;
            }
            .testimo {
                padding: 0 $sm;
                text-align: center;
                height: 50%;
                .photo-profile {
                    padding: $sm;
                    img {
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                    }
                }
                .testimo-quote {
                    font-size: 16px;
                    margin-bottom: $md;
                    span.name {
                        display: block;
                        color: $g-light;
                        text-align: right;
                        border-bottom: 1px solid $g-light;
                        padding-bottom: $sm;
                    }
                }
            }
        }
        .testimos-slider-pos {
            margin: $md auto;
            span {
                display: inline-block;
                @include circle(20px,$g-light);
                margin: 5px;
                cursor: pointer;
                &.active {
                    background-color: $main-color;
                }
            }
        }
        aside.skills-wrapper {
            .skills-techs {
                text-align: left;
                font-size: 18px;
                &> div {
                    margin-bottom: calc($md + 10px);
                    label {
                        text-transform: uppercase;
                    }
                    .progress-bar {
                        margin-top: $sm;
                        height: 30px;
                        border-radius: 5px;
                        background-color: whitesmoke;
                        box-shadow: 2px 3px 5px rgb(0,0,0, .5) inset;
                        
                        .prog-value-bar {
                            height: 100%;
                            background-color: $main-color;
                            border-top-left-radius: 5px;
                            border-bottom-left-radius: 5px;
                            position: relative;
                            &::before {
                                content: attr(data-progress);
                                @include absolute-positioning(-150%,auto,auto,0);
                                transform: translate(50%, 0);
                                background-color: $g-dark;
                                color: whitesmoke;
                                border-radius: 5px;
                                padding: 5px;
                            }
                          
                            &::after {
                                content: "";
                                position: absolute;
                                top: -50%;
                                right: -10px;
                                border: 10px solid transparent;
                                border-top-color: $g-dark;
                            }
                        }
                    }
                }
            }
        }
    }  
}
@media (min-width: 650px) { // Custom BreakPoint
    section#about {
        section.statistics {
            .stats-Wrapper {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: $md;
            } 
        }
        .testimo {
            display: flex;
            .photo-profile {
                margin-right: $sm;
            }
            .testimo-quote {
                p {
                    text-align: left;
                }
            }
        }
    }
}
@media (min-width: 992px) {
    section#about {
        section.statistics {
            .stats-Wrapper {
                display: grid;
                grid-template-columns: repeat(4,1fr);
                grid-gap: $md;
            }
        }
        section.testimos-and-skills {
            .container {
                display: flex;
                gap: $l;
                aside {
                    width: 50%;
                    margin-bottom: 0;
                }
            }
        }
    }
}

