
section#design {
    @include bg-image("../images/design-features.jpg");
    position: relative;
    z-index: 2;
    &::after {
        @extend %after-overlay;
        z-index: -1;
    }
    img.mobile-pic {
        display: none;
    }
    .our-design {
        background-color: $main-color-trans;
        padding: $md $xl;
        color: whitesmoke;
        h4 {
            @extend %h4-style;
        }
        ul {
            margin-top: $l;
            padding-left: 0;
            li {
                i {
                    font-size:medium;
                    padding-right: 22px;
                }
                font-size: 17px;
                margin-bottom: $md;
                list-style: none;
                text-indent: -26px;
                padding-left: 26px;
            }
        }
    }
}

@media (min-width : 768px) {
    section#design {
        img.mobile-pic {
            display: initial;
            @include absolute-positioning(75%,25%,auto,auto)
        }
        .our-design {
            margin-left: 50%;
            }
        }
}