
section#design {
    background-image: url(../images/design-features.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    .overlay {
        @include absolute-positioning(0,0,auto,auto);
        right: 0;
        bottom: 0;
        transform: none;
        background-color: $overlay;
    }
    img.mobile-pic {
        display: none;
    }
    .our-design {
        position: relative; // To avoid the overllay's darkness
        background-color: $main-color-trans;
        padding: $md $l;
        color: whitesmoke;
        h4 {
            @extend %h4-style;
        }
        ul {
            margin-top: $l;
            padding-left: 0;
            li {
                i {
                    font-size:medium;
                    padding-right: $md;
                }
                font-size: 17px;
                margin-bottom: $md;
                list-style: none;


            }
        }
    }
}

@media (min-width : 768px) {
    section#design {
        img.mobile-pic {
            display: initial;
            @include absolute-positioning(75%,25%,auto,auto)
        }
        .our-design {
            left: 50%;
            }
        }
}