@mixin circle($size,$clr) {
    width: $size;
    height: $size;
    border: 2px solid $clr;
    border-radius: 50%;
}
%h4-style {
    font-size: 28px;
    font-weight: 400;
    color: $white-s;
    text-transform: capitalize;
    line-height: 1.5;
    margin-top: 0;
}
%flex {
    display: flex;
    align-items: center;
    justify-content: center
}
%p-style {
    margin-top: 25px;
    font-size: 16px;
    line-height: 1.8;
    color: $g-light;
}
%button-style {
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    background-color: $main-color;
    box-shadow: 2px 2px 5px $g-light;
    color: #fff;
    padding: $sm $md;
    cursor: pointer;
}
@mixin bg-image($src) {
    background-image: url($src);
    background-size: cover;
}
@mixin absolute-positioning($top,$left,$bottom,$right) {
    position: absolute;
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;
    transform: translate(-50%,-50%);
}
@mixin margin-centering($display) {
    display: $display;
    margin-left: auto;
    margin-right: auto;
}

%after-overlay {
    position: relative;
    z-index: 0;
    &::after {
        content: "";
        @include absolute-positioning(0,0,0,0);
        transform: none;
        background-color: $overlay;
        z-index: -1;
    }
}
