section#portfolio {
    nav {
        margin-bottom: $l;
        ul {
            list-style: none;
            padding-left: 0;
            @extend %flex;
            li {
                font-size: 18px;
                text-transform: capitalize;
                padding: $sm;
                cursor: pointer;
                &.active {
                    background-color: $main-color;
                }
            }
        }
    }
    .gallery {
        @include margin-centering(grid);
        // grid-template-columns: 1fr; // Used with MediaQueries
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); // We can use this line to avoid using MediaQueries
        row-gap: 3px;
        // To contain (& center) the Gallery (u can use ".container" DIV instead)
        max-width: 1170px;
        .gall-item {
            &.hide {
                display: none;
            }
            position: relative;
            overflow: hidden; // Hide ".gall-item-caption" outside the element
            &:hover img {
                transform: scale(1.15) rotate(5deg);
            }
            &:hover .gall-item-caption {
                height: 85px;
            }
            img {
                width: 100%;
                height: 100%;
                transition: all 300ms ease-out;
            }
            .gall-item-caption {
                position: absolute;
                width: 100%;
                height: 0;
                bottom: 0;
                background-color: whitesmoke;
                padding-left: $md;
                transition: all 300ms ease-out;
                p {
                    font-size: 16px;
                    font-weight: 500;
                    &:last-child {
                        color: $main-color;
                    }
                }
            }
        }
    }
    button.more-items {
        @extend %button-style;
        border-radius: 5px;
        @include margin-centering(block);
        margin-top: $md;
    }
}

// @media (min-width: 768px) {
//     section#portfolio .gallery {         
//         grid-template-columns: 1fr 1fr;       
//     }
// }
// @media (min-width: 992px) {
//     section#portfolio .gallery {
//             grid-template-columns: repeat(4,1fr);
//     }
// }