section#pricing {
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        gap: $md;
        .price-card {
            background-color: $white-s;
            text-align: center;
            border-top: 1px solid $main-color;
            border-bottom: 1px solid $main-color;
            margin-bottom: $md;
            .title {
                font-size: 20px;
                text-transform: uppercase;
                padding: $md
            }
            .price-holder {
                @extend %flex;
                align-items: flex-end;
                padding-top: $sm;
                padding-bottom: $l;
                // height: 60px;
                .dollar {
                    align-self: flex-start;
                    font-size: 24px;
                }
                .price-nbr {
                    font-size: 54px;
                    font-weight: 700;
                    margin-left: $sm;
                    margin-right: $sm;
                }
                .periode {
                    font-size: 20px;
                    font-weight: 700;
                    
                }
                
            }
            .price-features {
                border-top: 1px solid $main-color;
                border-bottom: 1px solid $main-color;
                .feature {
                    font-size: 18px;
                    padding: $sm;
                    width: max-content;
                    @include margin-centering(block);
                    &:not(:last-child) {
                        border-bottom: 1px solid $main-color;
                    }
                }
            }
            button.bay {
                @extend %button-style;
                border: 1px solid $main-color;
                background-color: $main-color-trans;
                color: black;
                margin-top: $md;
                margin-bottom: $md;
                transition: all 300ms;
                &:hover {
                    background-color: $main-color;
                    transform: rotate(-5deg);
                }

            }
        }
    }
    .contact-us {
        font-size: 18px;
        text-align: center;
        p {
            margin-bottom: $l;

        }
        .button {
            @extend %button-style;
        }
    }
}

@media (min-width: 992px) and (max-width:1199px) {
    .price-card-for-layout {
        display: block !important; // display:none in the inline style.
    }
}
// @media (min-width: 1200px) {
//     .price-card-for-layout {
//         display: initial; // display:none in the inline style.
//     }
// }
