// Sizes



// Paddings & Margins
$sm: 15px;
$md: 30px;
$l: 50px;
$xl: 70px;
// Colors
$main-color: #19c8fa;
$main-color-trans: rgba(25, 200, 250, 0.3);
$w-light: #ccc;
$g-light: #777;
$g-dark: #333;

