section#portfolio nav ul, #home .intro-slider .slides-wrapper, #home .container > div nav, #home .container > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

section#services .container .service p, section header p {
  margin-top: 25px;
  font-size: 16px;
  line-height: 1.8;
  color: #777;
}

html {
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

section {
  padding: 70px 0;
}
section:nth-child(2n+1) {
  background-color: #19c8fa;
}
section header {
  text-align: center;
  margin-bottom: 70px;
}
section header h2 {
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
  color: black;
  margin-bottom: 20px;
}
section header span {
  display: inline-block;
}
section header span.line {
  background-color: #333;
  width: 130px;
  height: 2px;
  position: relative;
}
section header span.line .circle {
  margin: 0;
  background-color: white;
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section header p {
  width: 85%;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

#home {
  height: 100vh;
  background-color: #223f42;
  background-image: url(../images/landing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  position: relative;
}
#home .container {
  position: relative;
}
#home .container > div {
  min-height: 97px;
  justify-content: space-between;
}
#home .container > div hr {
  position: absolute;
  top: 99%;
  width: calc(100% - 30px);
  height: 1px;
  border: none;
  margin: 0;
  background-color: #ccc;
}
#home .container > div .logo {
  height: 40px;
}
#home .container > div nav .burger {
  margin-right: 15px;
}
#home .container > div nav .burger span {
  display: block;
  width: 22px;
  height: 3px;
  background-color: white;
  margin: 5px;
  border-radius: 2px;
  cursor: pointer;
}
#home .container > div nav ul.links {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
  z-index: 1;
}
#home .container > div nav ul.links li {
  text-transform: capitalize;
  padding: 15px;
  cursor: pointer;
  transition: all 500ms;
}
#home .container > div nav ul.links li a {
  color: #ccc;
  text-decoration: none;
  display: inline-block;
  width: 100%;
}
#home .container > div nav ul.links li:hover a {
  color: #19c8fa;
}
#home .container > div nav ul.links li:hover {
  border-bottom: 1px solid #19c8fa;
}
#home .container > div nav ul.links li:first-child.active {
  border-bottom: 1px solid #19c8fa;
}
#home .container > div nav ul.links li:first-child.active a {
  color: #19c8fa;
}
#home .container > div nav ul.links.active {
  display: block;
}
#home .container > div nav form {
  display: flex;
}
#home .container > div nav form:hover input[type=text] {
  background-color: rgba(25, 200, 250, 0.3);
  width: 180px;
  margin-right: 15px;
}
#home .container > div nav form input[type=text] {
  width: 0;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  transition: all 500ms;
}
#home .container > div nav form input[type=text].show {
  background-color: rgba(25, 200, 250, 0.3);
  color: white;
  letter-spacing: 1.3px;
  width: 180px;
  padding-left: 8px;
  margin-right: 15px;
}
#home .container > div nav form .search-btn {
  padding-left: 15px;
  border: none;
  border-left: 1px solid #ccc;
  width: 40px;
  height: 30px;
  background-color: transparent;
}
#home .container > div nav form .search-btn i {
  color: #ccc;
  line-height: 30px;
  font-size: 22px;
}
#home .slider-nav {
  display: none;
  color: white;
}
#home .intro-slider {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  background-color: rgba(25, 200, 250, 0.3);
  overflow: hidden;
}
#home .intro-slider .slides-wrapper {
  width: 300%;
  transition: all 500ms;
}
#home .intro-slider .slides-wrapper.active0 {
  margin-left: 0;
}
#home .intro-slider .slides-wrapper.active1 {
  margin-left: -100%;
}
#home .intro-slider .slides-wrapper.active2 {
  margin-left: -200%;
}
#home .intro-slider .slides-wrapper .slide {
  width: 33.3333%;
  padding: 30px 50px;
  color: white;
}
#home .intro-slider .slides-wrapper .slide h1 {
  font-size: 28px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 1.5;
  margin-top: 0;
}
#home .intro-slider .slides-wrapper .slide p {
  line-height: 2;
}
#home .slider-pos {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
#home .slider-pos span {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}
#home .slider-pos span.active {
  background-color: #19c8fa;
}

/** ==== Media Queries ===== */
@media (min-width: 768px) {
  #home .slider-nav {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 15px 0;
  }
  #home .slider-nav div {
    display: inline-block;
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
  }
  #home .slider-nav div:last-child {
    float: right;
  }
  #home .slider-nav div:hover {
    background-color: rgba(250, 250, 250, 0.2);
  }
  #home .intro-slider .slides-wrapper .slide {
    padding: 50px 70px;
  }
}
@media (min-width: 992px) {
  #home .container > div nav .burger {
    display: none;
  }
  #home .container > div nav ul.links {
    position: initial;
    display: flex;
    background-color: transparent;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  #home .container > div nav ul.links li {
    padding-top: 0;
    padding-bottom: 0;
    height: 98px;
    line-height: 98px;
    transition: none;
    z-index: 1;
  }
  #home .container > div nav ul.links.active {
    display: flex;
  }
  #home .intro-slider {
    width: 50%;
  }
  #home .intro-slider .slides-wrapper .slide {
    padding-left: calc((100vw - 970px) / 2);
  }
}
@media (min-width: 1200px) {
  #home .intro-slider {
    width: 50%;
  }
  #home .intro-slider .slides-wrapper .slide {
    padding-left: calc((100vw - 1170px) / 2);
  }
}
section#services .container .service {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
}
section#services .container .service .icon {
  margin-bottom: 30px;
}
section#services .container .service h3 {
  font-size: 20px;
  color: #19c8fa;
  margin-top: 0;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  section#services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 30px;
  }
  section#services .container .service {
    flex-direction: row;
    text-align: left;
  }
  section#services .container .service .icon {
    align-self: flex-start;
    margin-right: 30px;
  }
}
section#design {
  background-image: url(../images/design-features.jpg);
  background-size: cover;
  position: relative;
  overflow: hidden;
}
section#design .overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  right: 0;
  bottom: 0;
  transform: none;
  background-color: rgba(0, 0, 0, 0.5);
}
section#design img.mobile-pic {
  display: none;
}
section#design .our-design {
  position: relative;
  background-color: rgba(25, 200, 250, 0.3);
  padding: 30px 50px;
  color: whitesmoke;
}
section#design .our-design h1 {
  font-size: 28px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 1.5;
  margin-top: 0;
}
section#design .our-design ul {
  margin-top: 50px;
  padding-left: 0;
}
section#design .our-design ul li {
  font-size: 17px;
  margin-bottom: 30px;
  list-style: none;
}
section#design .our-design ul li i {
  font-size: medium;
  padding-right: 30px;
}

@media (min-width: 768px) {
  section#design img.mobile-pic {
    display: initial;
    position: absolute;
    top: 75%;
    left: 25%;
    transform: translate(-50%, -50%);
  }
  section#design .our-design {
    left: 50%;
  }
}
section#portfolio nav {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
section#portfolio nav ul {
  list-style: none;
}
section#portfolio nav ul li {
  font-size: 18px;
  text-transform: capitalize;
  padding: 15px;
  margin-right: 15px;
  cursor: pointer;
}
section#portfolio nav ul li.active {
  background-color: #19c8fa;
}
section#portfolio .gallery {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  row-gap: 3px;
  max-width: 1170px;
}
section#portfolio .gallery .gall-item {
  position: relative;
  overflow: hidden;
}
section#portfolio .gallery .gall-item.hide {
  display: none;
}
section#portfolio .gallery .gall-item:hover img {
  transform: scale(1.15) rotate(5deg);
}
section#portfolio .gallery .gall-item:hover .gall-item-caption {
  height: 85px;
}
section#portfolio .gallery .gall-item img {
  width: 100%;
  height: 100%;
  transition: all 300ms ease-out;
}
section#portfolio .gallery .gall-item .gall-item-caption {
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  background-color: whitesmoke;
  padding-left: 30px;
  transition: all 300ms ease-out;
}
section#portfolio .gallery .gall-item .gall-item-caption p {
  font-size: 16px;
  font-weight: 500;
}
section#portfolio .gallery .gall-item .gall-item-caption p:last-child {
  color: #19c8fa;
}
section#portfolio button.more-items {
  border: none;
  box-shadow: 2px 2px 5px #777;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.3px;
  color: whitesmoke;
  background-color: #19c8fa;
  padding: 15px 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  cursor: pointer;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}/*# sourceMappingURL=template2.css.map */