@import "variables";
@import "functions";

//* golbal styles

html {
    font-size: 14px;
}
* {
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
}
.container {
    padding-left: $sm;
    padding-right: $sm;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
%flex {
    display: flex;
    align-items: center;
    justify-content: center
}
section {
    padding: $xl 0;
    header {
        text-align: center;
        h2 {
            font-size: 40px;
            font-weight: 500;
            text-transform: uppercase;
            color: black;
            margin-bottom: 20px;
        }
        span {
            display: inline-block;
            &.line {
                background-color: $g-dark;
                width: 130px;
                height: 2px;
                position: relative;;
                .circle {
                    margin: 0;
                    background-color: white;
                    @include circle(20px,$g-dark);
                    @extend %position-center;
                    
                }
            }
        }
        p {
            margin-top: 25px;
            font-size: 16px;
            line-height: 1.8;
            color: $g-light;
        }
    }
}

//* Landing Section Styles
@import "home";
@import "services";

//* Media Queries
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}