@import "variables";
@import "functions";

//* golbal styles

html {
    font-size: 14px;
}
* {
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
}
.container {
    padding-left: $sm;
    padding-right: $sm;
    width: 100%;
    @include margin-centering(block);
}
.overlay {
    @include absolute-positioning(0,0,0,0);
    transform: none;
    background-color: $overlay;
}
section {
    overflow: hidden;
    padding: $xl 0;
    &:nth-child(2n+1) {
        background-color: $main-color;
    }
    header {
        text-align: center;
        margin-bottom: $xl;
        h2 {
            font-size: 40px;
            font-weight: 500;
            text-transform: uppercase;
            color: black;
            margin-bottom: 20px;
        }
        span {
            display: inline-block;
            &.line {
                background-color: $g-dark;
                width: 130px;
                height: 2px;
                position: relative;;
                .circle {
                    margin: 0;
                    background-color: white;
                    @include circle(20px,$g-dark);
                    @include absolute-positioning(50%,50%,0,0);
                    
                }
            }
        }
        p {
          @extend %p-style;
          width: 85%;
          max-width: 550px;
          margin-left: auto;
          margin-right: auto;
        }
    }
}

//* Specific Sections Styles
@import "home";
@import "services";
@import "design";
@import "portfolio";
@import "videoSection";
@import "about";
@import "pricing";

//* Global Media Queries
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}